header nav {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f0ad4e;
}

.header-title {
	padding-right: 50px;
	color: #fff;
}

header .header-title h3 {
	font-family: 'Malgun Gothic';
}

header .search-control-group {
	padding-top: 15px;
	width: 400px;
}

.job-add-button {
	margin-top: 10px;
	margin-left: 10px;
}

.job-category {
	padding-top: 75px;
}

.job-list {
	padding-top: 10px;
}

.job-list .job {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.job-list .job-ing {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

.job-list .job-end {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}